{% extends "main/header.html" %}
{% block content %}

<style>
    body {
        color: white;
    }
    h2 {
        color: white;
    }
    h3 {
        color: white;
    }

    a {
        color: #3498db;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
</style>
<h2>Welcome to Gamehub</h2>

    <p>Where the passion for gaming meets the art of game development. Our platform is more than just a hub for games; it's a community-driven space designed for gamers and creators alike.</p>

    <h3>Our Mission:</h3>
    <p>At Gamehub, our mission is to foster a vibrant gaming ecosystem. For gamers, we offer a diverse catalog of titles and a seamless experience to explore, play, and connect. For game developers, we provide a platform to showcase and publish your creations, connecting you directly with your audience.</p>

    <h3>What Sets Us Apart:</h3>
    <ul>
        <li><strong>Diverse Catalog:</strong> Discover a rich collection of games spanning various genres and styles.</li>
        <li><strong>Developer-Focused:</strong> We prioritize the needs of game developers, offering a straightforward submission process and a platform to showcase your talent.</li>
        <li><strong>Community-Centric:</strong> Join a community of like-minded gamers. Share experiences, engage in discussions, and stay updated on the latest in the gaming world.</li>
    </ul>

    <h3>Why Choose Gamehub:</h3>
    <ul>
        <li><strong>User-Friendly:</strong> Our website is designed with simplicity in mind, ensuring a smooth and enjoyable user experience.</li>
        <li><strong>Transparency:</strong> We believe in openness and transparency. From game reviews to developer interactions, everything is done with clarity.</li>
    </ul>

    <h3>Meet the Team:</h3>
    <p>Gamehub is powered by a team of passionate gamers and experienced developers. Our commitment is to continuously enhance the gaming experience for everyone involved.</p>

    <h3>Contact Us:</h3>
    <p>Have questions, suggestions, or just want to say hello? We'd love to hear from you. Reach out to us at <a href="mailto:[contact@email.com]">[contact@email.com]</a>.</p>

    <p>Join us on [social media links] to be a part of the Gamehub community. Let's embark on this gaming journey together!</p>




{% endblock content %}